html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
h1 {
    /* width: 80%; */
    margin-left: 30px;
}
i {
    margin-right: 30px;
    font-size: 3em;
    cursor: pointer;
}

main {
    height: 89%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#border {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#display {
    height: 20%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    margin: 10px;
    background-color: green;
}
#row3 {
    display: flex;
    justify-content: space-between;
}
.operators {
    font-size: 1.3em;
    font-weight: bold;
    opacity: 0.2;
}
#operations {
    font-size: 1.2em;
}
#typingArea {
    /* height: 20%; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* margin: 10px; */
    background-color: green;
}
h3 {
    display: inline-block;
    margin: 0;
    font-size: 4em;
}
#ad {
    margin-left: 13px;
}
.rows {
    height: 20%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.key {
    width: 23%;
    height: 80%;
    font-size: 3em;
    display: inline-block;
    /* border: 1px solid black; */
    /* padding: 10px; */
    cursor: pointer;
    background-color: gray;
    color: white;
}
.keySpan {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#keypad {
    height: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


@media (max-width: 800px) {
    #border {
        width: 98%;
    }
    .key {
        border-radius: 100%;
    }
}
